<div class="c-pointer scale-105 login_arrow_left" routerLink="">
  <img src="/assets/img/icons/left_arrow_blue.png">
</div>
<div class="login_centerised">
  <span class="forgot_title">i forgot my password</span><br>
  <div class="forgot_line_blue"></div>
</div>
<span class="font21-400 txt-cr mb-40">
  Don't worry! We will send you an email with the instructions to <br>reset your password.<br><br>
</span>
<form onsubmit="resetPassword()">
  <div class="ai-center jc-center d-flex fd-col pos-rel">
      <input placeholder="Email" id="email_forgot" type="email" class="login_input" name="email_forgot" required>
      <img src="/assets/img/icons/mail.png" class="forgot_mail_png">
      <button class="button_dark" type="submit" name="sendmail">Send me the email</button>
  </div>
</form>
