.forgot_title {
  font-weight: 700;
  font-size: 61px;
  line-height: 120%;
}

.forgot_line_blue {
  width: 150px;
  border: 2px solid #29abe2;
  border-radius: 20px;
  margin-top: 30px;
  margin-bottom: 40px;
}

.forgot_mail_png {
  position: absolute;
  top: 17px;
  right: 120px;
}