<div class="c-pointer scale-105 login_arrow_left" onclick="forgotPassword()">
    <img src="/assets/img/icons/left_arrow_blue.png">
</div>
<span class="font61-700 txt-cr">Reset your password</span><br>
<div class="login_blue_line"></div>
<span class="font21-400 txt-cr mb-40">Change your account password</span>
<div class="login_pos_rel">
    <input placeholder="New password" id="new_password" type="password" class="login_input">
</div>
<div class="login_pos_rel">
    <input placeholder="Confirm password" id="confirm_password" type="password" class="login_input">
</div>
<br>
<div>
    <button class="button_dark" onclick="hideLogin()">Continue</button>
</div>
