<div class="c-pointer scale-105 login_arrow_left" routerLink="">
  <img src="/assets/img/icons/left_arrow_blue.png">
</div>
<div class="login_centerised">
  <span class="font61-700">Sign up</span>
  <div class="login_blue_line"></div>
</div>

<form onsubmit="registerUser(); return false;">
  <div class="login_pos_rel">
      <input placeholder="Name" id="username" type="text" class="login_input" required>
      <img src="/assets/img/icons/name.png" class="sign_name_png">
      <input placeholder="Email" id="email" type="email" class="login_input" required>
      <img src="/assets/img/icons/mail.png" class="sign_mail_png">
      <input placeholder="Password" id="password" type="password" class="login_input" required>
      <img src="/assets/img/icons/secure.png" class="sign_secure_png">
      <div>
          <button class="button_dark">Sign up</button>
      </div>
  </div>
</form>
